@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import url(./variables.css);

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--background-color);
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

:is(input.form-control, textarea.form-control, select.form-control):focus {
    box-shadow: none;
    border-color: var(--brand-color) !important;
}
