body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d1d3e2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    width: 490px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

input[type='email'],
input[type='password'],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: var(--boxShadow-base);
}

button:hover {
    background-color: #ffa500;
}

#form_login {
    text-align: left;
}

.logo-text {
    font-size: var(--fontSize-5xl);
    font-family: var(--fontFamily-poppins);
    font-weight: var(--fontWeight-bold);
    color: var(--brand-color);
}

.sub-text {
    font-size: var(--fontSize-sm);
    font-family: var(--fontFamily-roboto);
    font-weight: var(--fontWeight-regular);
    color: var(--level-gray500);
}

.lembrar-de-mim {
    font-size: var(--fontSize-sm);
    font-family: var(--fontFamily-poppins);
    font-weight: var(--fontWeight-regular);
}
