body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #D1D3E2;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    width: 490px;
    height:500px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ffa500;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffa500;
}
