:is(#form-agendar-evento, #form-registar-conquista-academica) fieldset {
  margin-top: var(--spacing-6);

  &.data-inicio-fim {
    display: flex;
    gap: var(--spacing-6);
    flex-wrap: wrap;

    > div {
      flex-grow: 1;
    }
  }
}

main h1 {
  font-size: 2rem;
  font-weight: bold;
}

main h2 {
  font-size: 1.5rem;
}

.row:nth-of-type(1) {
  margin-bottom: 1.5rem;

  h2 {
    margin-bottom: var(--spacing-5);
  }

  figure figcaption {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: var(--level-gray500);
  }
}
