@import url(./global.css);

.saudacao {
    gap: var(--spacing-2);
}

h2,
h3,
h5 {
    font-family: var(--fontFamily-poppins);
    font-weight: var(--fontWeight-bold);
}

h3 {
    font-size: var(--fontSize-2xl);
}

main :is(button.btn, a.btn) {
    font-weight: var(--fontWeight-medium);
    color: #fff;
    font-size: var(--fontSize-md);
    font-family: var(--fontFamily-poppins);
}

.vr {
    background-color: var(--level-gray500);
}

.saudacao {
    margin-bottom: var(--spacing-9);
}
.saudacao__titulo {
    color: var(--brand-color);
    font-size: var(--fontSize-xl);
}

.swal2-container {
    font-family: var(--fontFamily-poppins);
}

/* turmas */
.turmas {
    margin-bottom: var(--spacing-13);
}

.turmas .turmas__quantidade {
    color: var(--level-gray900);
}

.turmas .turmas__lista-turmas li {
    border-radius: var(--borderRadius-md);
    background-color: var(--level-gray200);
    color: var(--level-gray600);
    font-family: var(--fontFamily-poppins);
    font-weight: var(--fontWeight-medium);
}

.turmas .turmas__lista-turmas li a {
    padding: var(--spacing-6) var(--spacing-8);
    width: 100%;
}

.turmas .turmas__lista-turmas li:not(li:first-child) {
    margin-top: var(--spacing-4);
}

/* materiais de apoio */
.materiais-apoio {
    width: max-content;
}

.materiais-apoio .materiais-apoio__descricao {
    font-family: var(--fontFamily-roboto);
    font-size: var(--fontSize-sm);
    margin: var(--spacing-3) 0 var(--spacing-7);
    font-weight: var(--fontWeight-medium);
    color: var(--level-gray500);
}

.materiais-apoio table.table {
    width: 100%;
}

.materiais-apoio table.table > * {
    font-family: var(--fontFamily-poppins);
}

main .right-side button.btn {
    margin-top: var(--spacing-4);
}

.materiais-apoio a:not(#modalMaterialApoio a) {
    text-decoration: underline;
}

.materiais-apoio table.table td {
    background-color: transparent;
    color: var(--level-gray500);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.materiais-apoio table.table tr td:first-child {
    font-weight: var(--fontWeight-medium);
}

.materiais-apoio table.table tr td:not(td:first-child) {
    text-align: right;
}

.materiais-apoio table.table tr td:last-child {
    padding-right: 0;
}

.materiais-apoio table.table tr td:last-child button {
    letter-spacing: 0.125rem;
}

.materiais-apoio table.table tr td:last-child button:hover {
    background-color: var(--info-hover);
    color: #fff;
}

.materiais-apoio .materiais-apoio__view-all {
    font-family: var(--fontFamily-poppins);
    float: right;
    color: var(--level-gray500);
}

/* modal materiais de apoio */
.materiais-apoio
    #modalMaterialApoio
    :is(.modal-header, .modal-body, .modal-footer) {
    padding-left: var(--spacing-9);
    padding-right: var(--spacing-9);
}

.materiais-apoio #modalMaterialApoio .modal-header {
    padding-top: var(--spacing-9);
}

.materiais-apoio #modalMaterialApoio .modal-footer {
    padding-bottom: var(--spacing-9);
}

.materiais-apoio #modalMaterialApoio .modal-title {
    color: var(--brand-color);
    font-size: var(--fontSize-2xl);
}

.materiais-apoio #modalMaterialApoio .modal-title img {
    vertical-align: middle;
}

.materiais-apoio #modalMaterialApoio :is(h3, p, a.btn) {
    margin-bottom: var(--spacing-6);
}

.materiais-apoio #modalMaterialApoio h5 {
    margin-bottom: var(--spacing-1);
    font-weight: var(--fontWeight-medium);
    font-size: var(--fontSize-xl);
}

.materiais-apoio #modalMaterialApoio p {
    font-family: var(--fontFamily-roboto);
    font-size: var(--fontSize-sm);
}

.materiais-apoio #modalMaterialApoio a:hover {
    color: #fff;
    background-color: var(--info-hover);
}

.materiais-apoio #modalMaterialApoio #created-at {
    font-style: italic;
    color: var(--level-gray500);
    font-size: var(--fontSize-xs);
}

.materiais-apoio #modalMaterialApoio .modal-footer {
    border-top: none;
}

.right-side button.btn {
    letter-spacing: normal;
}
/* adicionar */
.right-side :is(.adicionar-aluno, .adicionar-responsavel) {
    margin-bottom: var(--spacing-11);
}
.right-side :is(.adicionar-aluno, .adicionar-responsavel) button {
    background-color: var(--success-default);
    font-weight: var(--fontWeight-medium);
}

.right-side :is(.adicionar-aluno, .adicionar-responsavel) button:hover {
    background-color: var(--success-hover);
    color: #fff;
}

/* evento escolar */
.right-side .agendar-evento-escolar form label {
    font-family: var(--fontFamily-poppins);
}

.right-side .agendar-evento-escolar form fieldset {
    margin-top: var(--spacing-6);
}

.right-side .agendar-evento-escolar form button[type='submit'] {
    margin-top: var(--spacing-9);
    font-weight: var(--fontWeight-bold);
    font-size: var(--fontSize-md);
    width: 45%;
}

.right-side .agendar-evento-escolar form input {
    font-family: var(--fontFamily-roboto);
}

.right-side .agendar-evento-escolar form :is(input, textarea) {
    background-color: transparent;
    border: 1px solid #b6bdc4;
}

#criacaoMaterialApoio :is(.modal-header, .modal-body, .modal-footer) {
    padding-left: var(--spacing-9);
    padding-right: var(--spacing-9);
}

#criacaoMaterialApoio .modal-header {
    padding-top: var(--spacing-9);
}

#criacaoMaterialApoio .modal-footer {
    padding-bottom: var(--spacing-9);
    border-top: none;
}

#criacaoMaterialApoio .modal-title {
    color: var(--brand-color);
    font-size: var(--fontSize-2xl);
}

#criacaoMaterialApoio .modal-title img {
    vertical-align: middle;
}

#criacaoMaterialApoio :is(button.btn, label) {
    font-family: var(--fontFamily-poppins);
}

#criacaoMaterialApoio :is(h3, p, a.btn) {
    margin-bottom: var(--spacing-6);
}

#criacaoMaterialApoio h5 {
    margin-bottom: var(--spacing-1);
    font-weight: var(--fontWeight-medium);
    font-size: var(--fontSize-xl);
}

#criacaoMaterialApoio p {
    font-family: var(--fontFamily-roboto);
    font-size: var(--fontSize-sm);
}

#criacaoMaterialApoio a:hover {
    color: #fff;
    background-color: var(--info-hover);
}

#criacaoMaterialApoio fieldset:not(fieldset:first-child) {
    margin-top: var(--spacing-6);
}

#criacaoMaterialApoio label {
    font-family: var(--fontFamily-poppins);
}

#criacaoMaterialApoio :is(input, select, textarea) {
    font-size: var(--fontSize-sm);
    font-family: var(--fontFamily-roboto);
}
