@import url(./global.css);

#sidebar{
    background-color: #f1f2f7;
    width: max-content;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: var(--spacing-6) var(--spacing-9);
    font-family: var(--fontFamily-poppins);
    
}

#sidebar .logo-container #logo {
    color: var(--brand-color);
    font-size: var(--fontSize-5xl);
    font-weight: var(--fontWeight-bold);
    
}

#sidebar .logo-container {
    text-align: center;
}

#sidebar a, i {
    font-size: var(--fontSize-lg);
    color: var(--level-gray500);
}

#sidebar p {
    text-transform: uppercase;
}

#sidebar .sidebar__menu li {
    margin-top: var(--spacing-6);
}

#sidebar i {
    margin-right: var(--spacing-2);
}