:root {
  --brand-color: #ffa500;
  --brand-color-light: #ffcb6c;
  --brand-color-dark: #cd8500;
  --brand-color-low: #835500;
  --background-color: #ececec;

  /* semantic */
  --success-default: #198754;
  --success-hover: #166e45;
  --warning-default: #ffc107;
  --warning-hover: #ffc107;
  --danger-default: #dc3545;
  --danger-hover: #dc3545;
  --info-default: #0dcaf0;
  --info-hover: #10b5d6;

  /* grayscale */
  --level-gray900: #1b1d1f;
  --level-gray800: #26282b;
  --level-gray600: #454c53;
  --level-gray500: #72787f;
  --level-gray400: #9ea4aa;
  --level-gray200: #c9cdd23b;

  /* fonts */
  --fontFamily-poppins: 'Poppins', sans-serif;
  --fontFamily-montserrat: 'Montserrat', sans-serif;
  --fontFamily-lora: 'Lora', sans-serif;

  /* font weights */
  --fontWeight-bold: bold;
  --fontWeight-medium: 500;
  --fontWeight-regular: 400;

  /* font sizes */
  --fontSize-xxs: 0.625rem; /* 10px */
  --fontSize-xs: 0.75rem; /* 12px */
  --fontSize-sm: 0.875rem; /* 14px */
  --fontSize-md: 1rem; /* 16px */
  --fontSize-lg: 1.125rem; /* 18px */
  --fontSize-xl: 1.25rem; /* 20px */
  --fontSize-2xl: 1.5rem; /* 24px */
  --fontSize-4xl: 2rem; /* 32px */
  --fontSize-5xl: 2.5rem; /* 40px */
  --fontSize-6xl: 3.5rem; /* 48px */
  --fontSize-7xl: 4rem; /* 64px */
  --fontSize-8xl: 4.5rem; /* 72px */
  --fontSize-9xl: 5rem; /* 80px */

  /* spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.625rem;
  --spacing-4: 0.75rem;
  --spacing-5: 0.875rem;
  --spacing-6: 1rem;
  --spacing-7: 1.125rem;
  --spacing-8: 1.25rem;
  --spacing-9: 1.5rem;
  --spacing-10: 2rem;
  --spacing-11: 2.5rem;
  --spacing-12: 3rem;
  --spacing-13: 4rem;

  /* border radius */
  --borderRadius-xs: 0.25rem;
  --borderRadius-sm: 0.5rem;
  --borderRadius-md: 0.75rem;
  --borderRadius-lg: 1.25rem;
  --borderRadius-full: 50%;

  /* border width */
  --borderWidth-thin: 0.0625rem;
  --borderWidth-medium: 0.09375rem;
  --borderWidth-thick: 0.125rem;
  --borderWidth-heavy: 0.25rem;

  /* box shadow */
  --boxShadow-base: 0.25rem 0.25rem 0 0.25px rgba(0, 0, 0, 0.25);
}
